<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Login/Registration Form Transition</title>


  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>

      <link rel="stylesheet" href="{{url_for('static',filename='edit_profile.css')}}">


</head>

<body>

    <p class="tip">Click on button in image container</p>

    <div class="cont">

        <div class="img">
        </div>
        <div class="mycont">

            <div class="content_center">

                <h2>Change Profile Information</h2>
                <form action="" method="post">
                  <label>
                    <input type="text" name="change_username" placeholder="Uername" />
                  </label>


                  <label>
                    <input type="password" name="change_password" placeholder="Password" />
                  </label>

                  <label>
                    <input type="password" name="change_confirm_password" placeholder="Confirm Password" />
                  </label>



                  <label>
                    <input type="text" name= "change_location" placeholder="Location" />
                  </label>


                  <button type="submit" class="submit">Save</button>



                </form>



            </div>




        </div>

    </div>








</body>

</html>
