<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Login/Registration Form Transition</title>
  
  
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>

      <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">

  
</head>

<body>

  <p class="tip">Click on button in image container</p>
<div class="cont">
  <div class="form sign-in">
    <h2>Welcome back</h2>
    <label>
      <input type="email" placeholder="Email Address" />
    </label>

    <label>
      <input type="password" placeholder="Password" />
    </label>

    <p class="forgot-pass">Forgot password?</p>

    <button type="button" class="submit">Sign In</button>

  </div>
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>New here?</h2>
        <p>Sign up and discover great amount of new opportunities!</p>
      </div>
      <div class="img__text m--in">
        <h2>One of us?</h2>
        <p>If you already has an account, just sign in. We've missed you!</p>
      </div>
      <div class="img__btn">
        <span class="m--up">Sign Up</span>
        <span class="m--in">Sign In</span>
      </div>
    </div>
    <div class="form sign-up">
      <h2>Time to feel like home,</h2>
      <form action="/signUp" method="post">
              <label>
                <input type="text" name="user" placeholder="Uername" />
              </label>

              <label>
                <input type="email" name="email" placeholder="Email address"/>
              </label>

              <label>
                <input type="password" name="password" placeholder="Password" />
              </label>

              <label>
                <input type="password" placeholder="Confirm Password" />
              </label>

              <label>
                <input type="text" placeholder="NID number" />
              </label>


              <label>
                <input type="text" placeholder="Location" />
              </label>


              <button type="submit" class="submit">Sign Up</button>


        </form>

    </div>
  </div>
</div>


  

    <script  src="/static/index.js"></script>




</body>

</html>
